$container:					1160px;
$logo-padding:				37px;
$preheader-margin:			10px;
$preheader-padding:			37px;
$preheader-social:			18px;
$menu-height:				57px;
$menu-padding-horizontal:	40px;
$menu-bgcolor: 				rgba(42,45,50,1);
$menu-bgcolor-home:			rgb(36,140,236);
$menu-color:	 			rgb(244,182,13);
$search-icon-vertical:		9px;
$search-icon-horizontal:	18px;
$search-color:				rgb(53,56,60);
$search-url:				url("../img/search.png");
$carousel-top:				40px;
$carousel-bottom:			70px;
$number:					90px;
$number-margin:				23px;
$number-text-margin:		40px;
$number-text:				240px;
$number-size:				85px;
$number-line:				65px;
$number-padding:			80px;
$read-more:					18px;
$picture-size:				260px;
$pictures-top:				45px;
$pictures-bottom:			65px;
$pictures-bg:				rgba(36,140,236,0.75);
$pictures-space:			36px;
$news-banners-bg:			rgb(247,247,247);
$news-banners:				560px;
$news-banners-margin:		35px;
$textblock:					20px;
$slide:						40px;
$sponsors-vertical:			90px;
$sponsors-horizontal:		37px;
$footer-width:				260px;
$footer-margin:				35px;
$footer-padding-top:		60px;
$footer-padding-bottom:		70px;
$image-date-top:			15px;
$image-date-left:			-15px;
$color-gray:				rgba(120,122,124,1);
$color-gray-trans:			rgba(120,122,124,0.1);
