<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.carousel.js"></script>
	<script type="text/javascript" src="js/template.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="hider">
			<ul class="carousel-list">
				<li><span><img src="img/image1.jpg"></span><p>Описание 1</p></li>
				<li><span><img src="img/image1.jpg"></span><p>Описание 2</p></li>
				<li><span><img src="img/image1.jpg"></span><p>Описание 3</p></li>
				<li><span><img src="img/image1.jpg"></span><p>Описание 4</p></li>
				<li><span><img src="img/image1.jpg"></span><p>Описание 5</p></li>
				<li><span><img src="img/image1.jpg"></span><p>Описание 6</p></li>
			</ul>
			<span class="left">&lt;</span>
			<span class="right">&gt;</span>
		</div>
	</div>
	<div class="footer">
		
	</div>
	<script type="text/javascript">
		var element = document.querySelectorAll('.carousel-list>li');		
		for (var i=0; i<element.length; i++) {
			element[i].classList.add('carousel-element');
		};
		element = document.querySelectorAll('.carousel-list>li>span>img');
		for (var i=0; i<element.length; i++) {
			var a = -i*100;
			var b = -i*150;
			element[i].setAttribute('style', "top:" + a + "px; left:" + b + "px;");
		};
	</script>
	<script type="text/tepmplate" id="tmpl">
		<div class="cv">
		<h1><a><%= name %></a></h1>
		<p><span class="title">age</span><span><%= age %></span><p>
		<p><span class="title">profession</span><span><%= profession %></span><p>
		<p><span class="title">occupation</span><span><%= occupation %></span><p>
		</div>
	</script>
</body>
</html>