.wrapper {
    min-height: 100%;
}
.container {
    width: $container;
}
.header img, .navigation, .navigation li, .menu li, .search, .content-upper li, .number, .number-text, .content-middle li, .news, .banners, .sponsors li, .footer>div>ul>li {
    display: inline-block;
}
.textblock, .comments, .footer>div>p a, .footer ul ul a {
    color: $color-gray;
}
.menu a, .content-middle h1, .content-middle li a span, .content-middle h2, .banners a:active span, .footer h2 {
    color: #fff;
}
.menu a, h2, .number-text a, .footer li a, .footer p {
    font-weight: bolder;
}