*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    font: normal #{$fontSize-small}/#{$lineHeight-base} $font-base;
    color: $black;

    @media #{$large-up} {
        font-size: $fontSize-base;
    }
}
a {
    color: $black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
header {
    display: none;
}