//mixin syntax: m-<propertyName>
@mixin border-radius($radius) {
border-radius: $radius;
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
}
@mixin linear-gradient-background($dir-n, $color1, $color2) {
	background: linear-gradient($dir-n, $color1, $color2);
	background: -webkit-linear-gradient($dir-n, $color1, $color2);
	background: -moz-linear-gradient($dir-n, $color1, $color2);
	background: -ms-linear-gradient($dir-n, $color1, $color2);
}
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}