$r-normal:					'robotoregular';
$r-italic:					'robotoitalic';
$r-bold:					'robotobold';
$r-boldi:					'robotobold_italic';
$r-medium:					'robotomedium';
$r-black:					'robotoblack';
$r-blacki:					'robotoblack_italic';
$r-light:					'robotolight';
$r-lighti:					'robotolight_italic';
$r-thin:					'robotothin';
$r-thini:					'robotothin_italic';
$m-normal:					'montserratregular';
$m-bold:					'montserratbold';
// HEADER
$header-picture:			'../img/header-picture.jpg';
$cred-ht:					35px;
$cred-hr-s:					40px;
$cred-rad:					19px;
$search-ht:					39px;
$header-padding-small:		20px 20px 140px;
$header-button-padding:		0 20px;
$header-button-margin:		16px;
$title-padding-small:		115px 0 35px;
$heading-padding-small:		0 0 10px;
$promo-padding-small:		0 0 15px;
$promo-width-small:			225px;
$cred-hr-m:					60px;
$header-padding-medium:		37px 50px 223px;
$title-padding-medium:		0;
$heading-padding-medium:	135px 0 20px; 
$promo-padding-medium:		0 0 32px;
$promo-width-medium:		auto;
$header-padding-large:		37px 50px 233px;
$heading-padding-large:		145px 0 20px;
//WRAPPER
$wrapper-padding-small:		35px 10px 0px;
$wrapper-padding-medium:	90px 10px 0px;
$wrapper-heading:			0 0 20px;
$forum-picture-1:			'../img/forum-picture-1.png';
$forum-picture-2:			'../img/forum-picture-2.png';
$forum-picture-3:			'../img/forum-picture-3.png';
$forum-width-small:			300px;
$forum-height-small:		240px;
$forum-picture-small:		10px 0 0;
$forum-width-medium:		31.6%;
$forum-width-large:			32.6%;
$forum-height-medium:		400px;
$forum-picture-medium:		8px;
$forum-text-small:			15px 20px;
$forum-text-padding:		15px;
$forum-button:				2px 13px;
$step-ht:					19px;
$forum-p-ht:				16px;
$forum-h2-ht:				30px;
$partner-picture-1:			'../img/photo-1.jpg';
$partner-picture-2:			'../img/photo-2.jpg';
$partner-picture-3:			'../img/photo-3.jpg';
$partner-picture-4:			'../img/photo-4.jpg';
$partner-max:				260px;
$partner-max-large:			220px;
$partner-wd-ht:				128px;
$partner-ht-h4:				44px;
$partner-ht-p:				17px;
$partner-padding:			24px 50px 0;
$partner-padding-m:			0px 20px 0;
$partner-padding-l:			0px 10px 0;
$partner-button:			24px;
$partner-button-ml:			30px;
$activity-wd:				300px;
$activity-ht:				120px;
$activity-ht-medium:		310px;
$activity-wd-medium:		31.6%;
$activity-wd-medium-spec:	65.8%;
$activity-wd-large:			32.6%;
$activity-wd-large-spec:	65.8%;
$activity-padding:			8px 0;
$activity-title-1-small:	45px;
$activity-title-2-small:	35px;
$activity-title-1-medium:	140px;
$activity-title-2-medium:	130px;
$act-s-w-pic-1:				300px;
$act-s-t-pic-1:				-26%;
$act-s-r-pic-1:				0%;
$act-s-w-pic-2:				315px;
$act-s-t-pic-2:				-103%;
$act-s-r-pic-2:				0%;
$act-s-w-pic-3:				650px;
$act-s-t-pic-3:				-75%;
$act-s-r-pic-3:				106%;
$act-s-w-pic-4:				570px;
$act-s-t-pic-4:				-121%;
$act-s-r-pic-4:				25%;
$act-s-w-pic-5:				310px;
$act-s-t-pic-5:				-42%;
$act-s-r-pic-5:				0%;
$act-s-w-pic-6:				350px;
$act-s-t-pic-6:				-25%;
$act-s-r-pic-6:				5%;
$act-s-w-pic-7:				550px;
$act-s-t-pic-7:				-57%;
$act-s-r-pic-7:				81%;
$act-m-w-pic-1:				350px;
$act-m-t-pic-1:				-7%;
$act-m-r-pic-1:				44%;
$act-m-w-pic-2:				335px;
$act-m-t-pic-2:				-5%;
$act-m-r-pic-2:				5%;
$act-m-w-pic-3:				355px;
$act-m-t-pic-3:				-8%;
$act-m-r-pic-3:				154%;
$act-m-w-pic-4:				360px;
$act-m-t-pic-4:				-9%;
$act-m-r-pic-4:				33%;
$act-m-w-pic-5:				390px;
$act-m-t-pic-5:				-16%;
$act-m-r-pic-5:				15%;
$act-m-w-pic-6:				440px;
$act-m-t-pic-6:				-22%;
$act-m-r-pic-6:				15%;
$act-m-w-pic-7:				335px;
$act-m-t-pic-7:				-5%;
$act-m-r-pic-7:				111%;
$act-l-w-pic-1:				340px;
$act-l-t-pic-1:				-5%;
$act-l-r-pic-1:				35%;
$act-l-w-pic-2:				335px;
$act-l-t-pic-2:				-5%;
$act-l-r-pic-2:				6%;
$act-l-w-pic-3:				355px;
$act-l-t-pic-3:				-8%;
$act-l-r-pic-3:				106%;
$act-l-w-pic-4:				360px;
$act-l-t-pic-4:				-9%;
$act-l-r-pic-4:				27%;
$act-l-w-pic-5:				390px;
$act-l-t-pic-5:				-16%;
$act-l-r-pic-5:				0%;
$act-l-w-pic-6:				440px;
$act-l-t-pic-6:				-22%;
$act-l-r-pic-6:				4%;
$act-l-w-pic-7:				335px;
$act-l-t-pic-7:				-5%;
$act-l-r-pic-7:				82%;
$search-padding:			18px 13px;
$search-margin:				9px 0 39px;
$search-margin-m:			0 0 5px 100px;
//FOOTER
$footer-height-small:		201px;
$footer-height-medium:		187px;
$footer-height-large:		200px;
$footer-padding:			5px 10px 10px;
$footer-padding-m:			25px 30px 35px;
$footer-logo:				14px 0 0;
$footer-ht:					15px;