* {
	margin: 0px;
	border: none;
	padding: 0px;
	color: #fff;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: Antonio;
}

@font-face {
	font-family: 'Antonio';
	src: url('../fonts/Antonio-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

a:hover {
	transition: background-color 0.3s;
}

.media {
	width: 960px;
}

body, html {
	width: 100%;
	min-height: 100%;
}

body {
	background: url(../img/background.png) no-repeat 100%, linear-gradient(to bottom, rgb(160,130,160) 900px, rgb(249,249,249) 901px);
	background-position: top;
	background-size: auto;
	overflow: visible;
}

div > div, div dl, dt, dt h2, dd, dd h3 {
	color: inherit;
}

dd {
	overflow: hidden;
	max-height: 100%;
	font-family: sans-serif;
}
/*ATOMIC CSS START*/
.content-list input {
	width: 15px;
	height: 15px;
}

.read-more {
	margin-top: 25px;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: -0.5pt;
}

.shadow:hover {
	background: rgba(255,255,255,0.25);
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
}

.inline {
	display: inline-block;
}

.ucase {
	text-transform: uppercase;
}
/*ATOMIC CSS FINISH*/

.wrapper {
	padding: 0px 0px 200px;
	min-height: 100%;
}

.wrapper-bottom {
	border-top: 1px solid rgb(230,230,230);
	clear: left;
}

.wrapper-bottom > img {
	display: block;
	margin: 0px auto;
	padding: 30px 0px;
}

header {
	margin: 0px auto 170px;
	padding-top: 70px;
}

.logo {
	position: absolute;
	height: 35px;
	line-height: 35px;
	letter-spacing: -4px;
	font-size: 35pt;
	font-weight: 100px;
	font-family: lucida;
	font-variant: small-caps;
}

.logo a:after {
	display: inline-block;
	content: "er";
	color: rgb(80,60,90);
}

.menu {
	display: block;
	height: 35px;
	text-align: right;
	line-height: 35px;
	letter-spacing: -2.9pt;
	font-size: 20pt;
	font-family: lucida;
	font-variant: small-caps;
}

.menu li {
	display: inline-block;
	margin-left: 50px;
}

.container {
	height: 400px;
	background: rgba(0,0,0,0.3);
	background-position: center;
}

.container:after {
	display: block;
	content: "";
	margin-top: 180px;
	height: 340px;
	background: linear-gradient(to bottom, rgb(50,37,57) 1px, rgb(116,80,131) 2px, rgb(116,80,131), rgb(50,37,57) 339px, rgb(25,19,29));
}

.content {
	position: relative;
	margin: 0px auto -34px;
}

.content > a:first-child {
	display: block;
	position: absolute;
	top: 185px;
	left: -15%;
	font-size: 30px;
}

.content > a:last-child {
	display: block;
	position: absolute;
	top: 185px;
	right: -15%;
	font-size: 30px;
}

.content li {
	display: none;
}

.content li a {
	display: block;
}

.content .show {
	display: inline-block;
}

.description, .description-photo {
	position: relative;
	top: -15px;
}

.description {
	max-width: 52.083%;
	max-height: 300px;
	vertical-align: middle;
	overflow: hidden;
}

.description-photo {
	padding: 0px 0px 0px 110px;
	max-width: 47.917%;
	text-align: center;
}

.description-photo img:first-child {
	position: relative;
	width: 130px;
	height: 268px;
	vertical-align: middle;
}

.description-photo img:last-child {
	position: relative;
	margin-left: -25%;
	margin-bottom: -25%;
	width: 196px;
	height: 434px;
	vertical-align: middle;
}

.description-photo form {
	position: absolute;
	margin-top: 90px;
	text-align: center;
}

.container-list input {
	text-align: center;
}

.support-section {
	margin: 90px auto 0px;
	/*width: 960px;*/
	height: 340px;
}

.support {
	display: inline-block;
	margin-top: 80px;
	padding: 0px 60px 0px 50px;
	width: 32.9%;
	height: 100%;
}

.forum-section {
	margin: 0px auto;
}

.forum {
	float: left;
	clear: right;
	position: relative;
	margin: 100px 20px;
	padding: 20px 40px 35px;
	width: 430px;
	color: #000;
}

.forum form {
	margin-top: 35px;
	text-align: center;
}

.block {
	text-align: justify;
}

.block dl {
	max-height: 100%;
	overflow: hidden;
}

.block img {
	line-height: 50px;
	display: inline-block;
	position: absolute;
	border-radius: 25px;
	margin-left: -60px;
	width: 50px;
	height: 50px;
}

.block h2 {
	display: inline-block;
	letter-spacing: -2px;
}

.block dd {
	line-height: 18px;
}

.comment-icon1 {
	background-position: 0px -50px;
}

.comment-icon2 {
	background-position: -60px -50px;
}

.comment-icon3 {
	background-position: -120px -50px;
}

footer {
	margin: -200px auto 0px;
	background: rgb(234,234,234);
}

footer:after {
	display: block;
	content: "";
	position: absolute;
}

.filler {
	padding: 100px 0px;
	margin: 0px auto;
}

.filler div {
	display: inline-block;
	margin-right: 5%;
	width: 29.8%;
	height: 200px;
	overflow: hidden;
}

.filler div:last-child {
	margin-right: 0%;
	width: 29%;
}

.filler h2 {
	margin-bottom: 10px;
	letter-spacing: -1px;
	color: #000;
}

.filler .contact {
	background: url(../img/text-shadow.png) no-repeat 100%;
	background-position: 0px 19px;
	letter-spacing: 0px;
}

.contact:before {
	content: url(../img/shine.png);
	display: block;
	position: absolute;
	margin: -17px 0px 0px 85px;
	font-weight: bold;
}

.contact:after {
	position: relative;
	content: "er";
	display: inline-block;
	color: rgb(185,185,185);
}

.filler .copyright {
	margin-bottom: 10px;
	font-style: italic;
	color: rgb(200,200,200);
}

.filler div:first-child h2 {
	font-size: 200%;	
}

.filler p {
	color: #999;
	text-align: justify;
}

.bottom div {
	position: relative;
	margin: 0px auto;
	padding: 50px 0px 50px;
}

.bottom {
	width: 100%;
	background: url(../img/footer.png) no-repeat 100%;
	background-position: top;
}

.content-list__black input {
	color:;
}

.read-more__black a {
	color: black;
}

.shadow__black:hover {
	background: rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.forum__users {
	padding: 0px;
	text-align: center;
}

.block__white img {
	border-radius: 5px;
}

.block__users {
	background: white;
	padding: 20px 40px 35px;
}

.block__users:after {
	position: absolute;
	content: "";
	margin: 35px 0px 0px 325px;
	border: 10px solid transparent;
	border-top-color: white;
	border-right-color: white;
}

.block__users h2:after {
	display: inline-block;
	content: "starts here";
	margin-left: 5px;
	color: rgb(240,190,255);
}

.block__users dd {
	line-height: 25px;
}

.block__updates {	
	padding-bottom: 0px;
}

.block__updates dd {
	margin: 20px 0px 0px 60px;
	height: 50px;
	line-height: 25px;
	clear: right;
}

.block__updates img {
	background-image: url(../img/comment-icon.png);
}

.menu__footer {
	position: absolute;
	height: 18px;
	line-height: 18px;
	letter-spacing: -1px;
	font-size: 18pt;
}

.menu__footer li {
	margin-left: 0px;
	margin-right: 25px;
}

.logo__footer {
	float: right;
	position: relative;
	height: 18px;
	line-height: 18px;
	letter-spacing: 0px;
	font-size: 10pt;
	text-align: right;
}

.logo__footer a:after {
	display: inline-block;
	content: "Pingbull AS";
}

@media all and (min-width: 768px) and (max-width: 960px) {
	.media {
		width: 730px;
	}

	header {
		margin-bottom: 50px;
	}

	.logo {
		position: relative;
		display: block;
	}

	.menu {
		display: block;
		margin-top: 50px;
		height: 35px;
		text-align: left;
	}

	.menu li {
		margin: 0px 50px 0px 0px
	}

	.content > a:first-child {
		top: 180px;
		left: -20px;
	}

	.content > a:last-child {
		top: 180px;
		right: -20px;
	}

	.container {
		height: 360px;
	}

	.description {
		max-width: 41%;
	}

	.description-photo {
		max-width: 59%;
		padding-left: 100px;
	}

	.support {
		height: 200px;
	}

	.support dd {
		max-height: 130px;
		font-size: 13px;
	}

	.support img {
		width: 25px;
		height: 25px;
		margin-left: -35px;
	}

	.support h2 {
		font-size: 20px;
	}

	.read-more {
		margin-top: 0px;
	}

	.forum {
		padding: 20px 10px 35px;
		width: 315px;
		height: 275px;
	}

	.forum__users {
		width: 315px;
	}

	.block__users h2:after {
		display: block;
		margin-left: 5px;

	}

	.block__users dd {
		height: 150px;
	}

	.block__users:after {
		display: none;
	}

	.forum form {
		margin-top: 15px;
	}

	.menu__footer {
		display: block;
		position: relative;
		margin: 0px;
		height: 16px;
		line-height: 16px;
		letter-spacing: -1px;
		font-size: 16pt;
	}

	.menu__footer li {
		margin-right: 40px;
	}

	.logo__footer {
		margin-top: 2%;
		height: 16px;
		line-height: 16px;
		letter-spacing: 0px;
		font-size: 8pt;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	.media {
		width: 430px;
	}

	header {
		margin-bottom: 100px;
	}

	.logo {
		position: relative;
		display: block;
		margin: 0px auto;
		text-align: center;
	}

	.menu__top {
		position: absolute;
		top: 100px;
		left: 50%;
		z-index: 1;
		display: block;
		margin: 50px -130px 0px;
		border: 1px solid rgb(70,70,80);
		border-radius: 8px;
		width: 260px;
		height: auto;
		text-align: center;
	}

	.menu__top li {
		display: block;
		margin: 0px;
		padding: 0px;
	}

	.menu__top li a {
		display: block;
		border-top: 1px solid rgba(95,70,105,0.63);
		border-bottom: 1px solid rgba(55,40,60,0.63);
		padding: 9px 0px;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0px;
		background: rgba(60,45,65,0.63);
	}

	.menu__top li a:hover {
		background: linear-gradient(to bottom, rgba(45,40,50,0.63) 36px, rgb(237,191,255) 36px);
	}

	.menu__top li:first-child a {
		border-radius: 7px 7px 0px 0px;
		text-decoration: underline;
		padding-top: 14px;
	}

	.menu__top li:last-child a {
		border-radius: 0px 0px 7px 7px;
		padding-bottom: 14px;
	}

	.menu__top li:first-child a:hover {
		background: linear-gradient(to bottom, rgba(45,40,50,0.63) 41px, rgb(237,191,255) 41px);

	}

	.menu__top li:last-child a:hover {
		background: linear-gradient(to bottom, rgba(45,40,50,0.63) 41px, rgb(237,191,255) 41px);
	}

	.container {
		height: 250px;
	}

	.content > a:first-child {
		top: 100px;
		left: -20px;
	}

	.content > a:last-child {
		top: 100px;
		right: -20px;
	}

	.description {
		max-width: 51%;
	}

	.description h1 {
		font-size: 150%;
	}

	.description h2 {
		color: rgb(240,190,255);
		font-size: 80%;
	}

	.description p {
		display: none;
	}

	.description-photo {
		max-width: 48%;
		padding-left: 20px;
	}

	.description-photo img:first-child {
		width: 50%;
		height: auto;
	}

	.description-photo img:last-child {
		width: 75%;
		height: auto;
	}

	.description-photo form {
		margin: 20px 0px 0px -62%;

	}

	.container:after {
		display: block;
		content: "";
		margin-top: 100px;
		height: 580px;
		background: linear-gradient(to bottom, rgb(50,37,57) 1px, rgb(116,80,131) 2px, rgb(116,80,131), rgb(50,37,57) 339px, rgb(25,19,29));
	}

	.support-section {
		margin: 160px auto 160px;
		height: auto;
	}

	.support {
		margin-top: 30px;
		width: 100%;
		height: auto;
	}

	.support dd {
		max-height: 130px;
		font-size: 13px;
	}

	.support img {
		width: 25px;
		height: 25px;
		margin-left: -35px;
	}

	.support h2 {
		font-size: 20px;
	}

	.read-more {
		margin-top: 0px;
	}

	.forum {
		margin: 0px;
		padding: 20px 10px 35px;
		width: 100%;
		height: auto;
	}

	.forum__users {
		width: 100%;
	}

	.block__users h2:after {
		display: block;
		margin-left: 5px;

	}

	.block__users dd {
		height: 150px;
	}

	.block__users:after {
		display: none;
	}

	.forum form {
		margin-top: 15px;
	}

	.block__updates {	
		margin-left: 40px;
	}

	.contact:before {
		content: url(../img/shine.png);
		display: block;
		position: absolute;
		margin: -17px 0px 0px 225px;
		font-weight: bold;
	}

	.filler div, .filler div:last-child {
		display: block;
		margin-bottom: 30px;
		width: 100%;
		height: auto;
	}

	.filler .contact {
		background: url(../img/text-shadow.png) no-repeat 100%;
		background-position: 150px 19px;
		letter-spacing: 0px;
	}

	.menu__footer {
		display: block;
		position: relative;
		margin: 0px;
		height: 16px;
		line-height: 16px;
		letter-spacing: -1px;
		font-size: 16pt;
	}

	footer .menu {
		text-align: left;
	}

	footer {
		text-align: center;
	}

	.menu__footer li {
		width: auto;
		margin-right: 35px;
	}

	.menu__footer li a {
		height: 14px;
		line-height: 14px;
		letter-spacing: -1px;
		font-size: 14px;		
	}

	.menu__footer li:last-child {
		margin-right: 0px;
	}

	.bottom div {
		padding-top: 20px;
	}

	.wrapper-bottom {
		margin: auto;
		width: 430px;
		overflow: hidden;
	}

	.logo__footer {
		float: none;
		margin: 20px auto -30px;
		height: 10px;
		line-height: 10px;
		letter-spacing: 0px;
		font-size: 10px;
		text-align: center;
	}
}

@media all and (max-width: 480px) {
	.menu *,
	.description p,
	.description-photo div,
	.filler {
		display: none;
	}

	.media {
		width: 280px;
	}

	header .menu li:first-child,
	header .menu li:first-child a {
		display: block;
	}

	header .menu:hover li {
		display: block;
	}
	header .menu:hover li a {
		display: block;
		border-top: 1px solid rgba(95,70,105,0.63);
		border-bottom: 1px solid rgba(55,40,60,0.63);
		background: rgba(60,45,65,0.63);
	}

	.logo {
		position: relative;
		display: inline-block;
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
	}

	.logo a {
		display: block;

	}

	.menu  li {
		text-align: center;
		margin-left: 0px;
		text-decoration: underline;
		letter-spacing: 0px;
	}

	.container {
		background: none;
		height: auto;
	}

	.content, .content li {
		width: 100%;
		height: auto;
	}

	.content > a:first-child {
		top: 10px;
		left: 15%;
	}

	.content > a:last-child {
		top: 10px;
		right: 15%;
	}

	.description, .description-photo {
		display: block;
		padding: 0px;
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	.description {
		margin: 0px;
		text-align: center;
	}

	.description h1, .description h2 {
		width: 100%;
	}

	.description h2 {
		font-size: 90%;
	}

	.description-photo form {
		position: relative;
		width: 100%;
		text-align: center;
	}

	.container:after {
		height: 600px;
		margin-bottom: -600px;
	}

	.support-section {
		margin: 70px auto;
		height: auto;
	}

	.support {
		margin: 0px 0px 30px;
		width: 100%;
		height: 120px;
		display: block;
	}

	.support dl {
		height: 85%;
		overflow: hidden;
	}

	.support dd {
		height: auto;
		overflow: hidden;
	}

	.support p {
		margin-top: 5%;
		height: 10%;
	}

	.support img {
		width: 25px;
		height: 25px;
		margin-left: -35px;
	}

	.read-more {
		display: inline-block;
		margin-top: 25px;
		width: 100%;
		text-transform: uppercase;
		text-align: right;
		letter-spacing: -0.5pt;
	}

	.forum {
		margin: 100px 0px 0px;
		width: auto;
		padding-left: 0px;
	}

	.forum__users {
		padding-left: 40px;
		height: 260px;
	}

	.block__users {
		box-sizing: content-box;
		overflow: hidden;
	}

	.forum__users dl {
		height: 80%;
		overflow: hidden;
	}

	.forum__users dd {
		height: 70%;
		overflow: hidden;
	}

	.block__updates h2, .block__updates h3 {
		height: 27px;
		overflow: hidden;
	}

	.wrapper-bottom {
		margin: auto;
		width: 280px;
		overflow: hidden;
	}

	footer {
		margin-top: -100px;
	}
}