*{
	margin: 0 auto;
	border: none;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: Antonio;
}
@font-face {
	font-family: 'Antonio';
	src: url('../fonts/Antonio-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
body, html {
	width: 100%;
	height: 100%;
}
body {
	background: url(../img/background.png) no-repeat 100%, linear-gradient(to bottom, rgb(249,249,249), rgb(249,249,249));
	background-position: top;
	background-size: auto;
	overflow: visible;
}
.media {
	width: 960px;
}
.bottom a:hover {
	text-decoration: underline;
}
input[type="radio"]:hover {
	opacity: 0.8;
	cursor: pointer;
}
.menu a, .content a, .description h1, .description span, .support h2, .support p, .read-more a, .bottom span, .bottom a {
	color: #fff;
}
.description h2, .block__users a {
	color: rgb(240,190,255);
}
.filler h2, .textblock, .read-more__black a {
	color: rgb(70,70,70);
}
.filler p {
	color: rgb(130,130,130);
}
.filler .copyright {
	color: rgb(200,200,200);
}
.menu__top {
	width: 755px;
	line-height: 35px;
	font-size: 23px;
	letter-spacing: -3px;
	text-align: right;
	vertical-align: top;
}
.menu__top li {
	margin-left: 40px;
}
.menu__top a {
	padding: 0 10px 0 5px;
	border-bottom: 2px solid transparent;
	transition: border-color 0.2s;
}
.menu__top a:hover {
	border-color: rgb(240,190,255);
	transition: border-color 0.4s;
}
/*ATOMIC CSS START*/
.content-list input {
	width: 15px;
	height: 15px;
}
.read-more {
	margin-top: 25px;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: -0.5pt;
}
.read-more__black a {
	color: black;
}
.shadow:hover {
	background: rgba(255,255,255,0.25);
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
}
.shadow__black:hover {
	background: rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.inline {
	display: inline-block;
}
.ucase {
	text-transform: uppercase;
}
/*ATOMIC CSS FINISH*/
.wrapper {
	padding-bottom: 510px;
	min-height: 100%;
}
.header {
	padding: 70px 0 170px;
}
.menu {
	display: inline-block;
	font-family: lucida;
	font-variant: small-caps;
}
.menu li {
	display: inline-block;;
}
.container {
	background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3) 400px, rgba(0,0,0,0) 400px, rgba(0,0,0,0));
	background-position: center;
}
.container:after {
	display: block;
	content: "";
	margin: 170px auto -340px;
	min-height: 340px;
	background: linear-gradient(to bottom, rgb(50,37,57) 1px, rgb(116,80,131) 2px, rgb(116,80,131), rgb(50,37,57) 339px, rgb(25,19,29));
}
.nav {
	position: absolute;
	display: block;
	top: 185px;
	font-size: 60px;
	font-weight: 900;
}
.nav-left {
	left: -15%;
}
.nav-right {
	right: -15%;
}
.content {
	position: relative;
}
.content li {
	position: relative;
	display: none;
	height: 400px;
}
.content li a {
	position: relative;
	display: block;
}
.content .show {
	display: block;
}
.description {
	position: relative;
}
.description {
	max-width: 50%;
	vertical-align: middle;
	text-align: justify;
	overflow: hidden;
}
.description-photo {
	width: 49%;
	min-height: 100%;
	vertical-align: middle;
}
.description-photo div{
	position: relative;
}
.description-photo img {
	position: absolute;
	top: -15px;
	right: 70px;
}
.container-list {
	position: absolute;
	right: 170px;
	bottom: -90px;
}
.support-section {
	padding-top: 70px;
	height: 340px;
}
.support {
	display: inline-block;
	width: 28.8%;
	padding-left: 60px;
	margin-right: 60px;
}
.support:last-child {
	margin-right: 0;
}
.support img {
	position: absolute;
	top: 5px;
	left: -50px;
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.forum-section {
	position: relative;
	padding: 100px 20px 35px;
	background: rgb(249,249,249);
}
.forum {
	display: inline-block;
	padding: 20px 40px 35px;
	width: 440px;
	color: #000;
}
.forum__users {
	position: relative;
	margin-right: 20px;
	background: #fff;
	vertical-align: top;
}
.forum__users:after {
	position: absolute;
	content: "";
	margin: 35px 0px 0px 325px;
	border: 10px solid transparent;
	border-top-color: white;
	border-right-color: white;
}
.forum__users img {
	top: -10px;
	left: -60px;
}
.forum__users h2 {
	display: inline-block;
}
.block__users img, .block__updates a {
	position: absolute;
	width: 50px;
	height: 50px;
}
.block__users a {
	font-size: 1.5em;
}
.forum__updates {
	padding-right: 0px;
}
.block__updates .textblock {
	margin: 10px auto;
	padding-left: 60px;
}
.block__updates a {
	left: 0px;
	border-radius: 25px;
	overflow: hidden;
}
.block__updates img {
	position: relative;
}
.content-list {
	position: absolute;
	bottom: -70px;
	left: 41%;
}
.textblock {
	position: relative;
	display: inline-block;
}
.comment-icon1 {
	top: 0px;
	left: -50px;
}
.comment-icon2 {
	top: -60px;
	left: -50px;
}
.comment-icon3 {
	top: -120px;
	left: -50px;
}
.wrapper-bottom {
	text-align: center;
	border-top: 1px solid rgb(230,230,230);
	clear: left;
}
.wrapper-bottom a {
	display: block;
	margin: 30px 20px;
	width: 79px;
	overflow: hidden;
}
.wrapper-bottom img {
	position: relative;
}
.wrapper-bottom li:nth-child(1) img {
	left: 5px;
}
.wrapper-bottom li:nth-child(2) img {
	left: -131px;
}
.wrapper-bottom li:nth-child(3) img {
	left: -263px;
}
.wrapper-bottom li:nth-child(4) img {
	left: -396px;
}
.wrapper-bottom li:nth-child(5) a {
	width: 105px;
}
.wrapper-bottom li:nth-child(5) img {
	left: -525px;
}
.wrapper-bottom li:nth-child(6) img {
	left: -697px;
}
.footer {
	margin-top: -510px;
	border-top: 1px solid rgb(215,215,215);
	padding-top: 100px;
	height: 510px;
	background: rgb(235,235,235);
	overflow: hidden;
}
.filler {
	margin-bottom: 100px;
	padding-top: 5px;
	height: 200px;
	overflow: hidden;
}
.filler .textblock {
	margin-right: 60px;
	width: 28%;
	vertical-align: top;
}
.filler .textblock:last-child {
	margin-right: 0;
}
.filler img {
	position: relative;
	top: -5px;
}
.filler h2 {
	line-height: 20px;
	padding-bottom: 20px;
}
.menu__footer {
	padding: 50px 0;
	width: 800px;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
}
.menu__footer li {
	margin-right: 40px;
}
.bottom {
	height: 110px;
	background: url(../img/footer.png) no-repeat 100% 100%;
}
.bottom span {
	font-family: lucida;
}
.bottom span + a {
	font-family: lucida;
	font-weight: bold;
} /*79 x spaces || 465 vs 428*/ 
@media all and (min-width: 768px) and (max-width: 960px) {
	.media {
		width: 728px;
	}
	.wrapper {
		padding-bottom: 600px;
	}
	.header {
		padding-bottom: 80px;
	}
	.menu__top {
		width: 728px;
		margin-top: 35px;
		text-align: left;
	}
	.menu__top li:first-child {
		margin-left: 0;
	}
	.menu__top li:first-child a {
		margin-left: -5px;
	}
	.container {
		background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3) 400px, rgba(0,0,0,0) 400px, rgba(0,0,0,0));
	}
	.container:after {
		margin-top: 155px;
	}
	.nav {
		top: 140px;
	}
	.nav-left {
		left: -35px;
	}
	.nav-right {
		right: -35px;
	}
	.description {
		width: 270px;
		height: 180px;
	}
	.description h2 {
		letter-spacing: -1px;
		font-size: 16px;
		text-transform: uppercase;
	}
	.description-photo {
		width: 454px;
	}
	.description-photo img {
		right: 0px;
	}
	.container-list {
		right: 100px;
		bottom: -50px;
	}
	.support {
		margin-right: 45px;
	}
	.support h2 {
		font-size: 1.1em;
	}
	.support .block p {
		height: 140px;
		overflow: hidden;
	}
	.read-more {
		margin-top: 0;
	}
	.forum-section {
		padding-right: 0;
	}
	.forum__users {
		width: 310px;
	}
	.forum__users:after {
		display: none;
	}
	.forum__users h2, .forum__users a {
		line-height: 25px;
		font-size: 1.2em;
		display: block;
	}
	.forum__users p {
		padding-top: 5px;
		height: 140px;
		overflow: hidden;
	}
	.forum__updates {
		width: 370px;	
	}
	.footer {
		margin-top: -600px;
		height: 600px;
	}
	.filler .textblock {
		width: 27%;
	}
	.bottom {
		height: 200px;
		background-size: 100% 100%;
	}
	.bottom .media {
		text-align: right;
	}
	.menu__footer {
		padding: 40px 0;
	}
}/*31 x space 120 || 138(566)*/
@media all and (min-width: 480px) and (max-width: 768px) {
	.media {
		width: 430px;
	}
	.wrapper {
		padding-bottom: 895px;
	}
	.header {
		padding-bottom: 100px;
		text-align: center;
	}
	.menu__top {
		position: absolute;
		top: 85px;
		left: 50%;
		z-index: 1;
		display: block;
		margin: 50px -130px 0;
		border: 1px solid rgb(70,70,80);
		border-radius: 8px;
		width: 260px;
		height: auto;
		text-align: center;
	}
	.menu__top li {
		display: none;
	}
	.menu__top li:first-child {
		display: block;
		margin: 0px;
		padding: 0px;
	}
	.menu__top li:first-child a {
		margin: 0px;
		padding-top: 14px;
	}
	.menu__top li a {
		display: block;
		border-top: 1px solid rgba(95,70,105,0.63);
		border-bottom: 1px solid rgba(55,40,60,0.63);
		border-radius: 7px;
		padding: 9px 0px;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0px;
		background: rgba(60,45,65,0.63);
	}
	.menu__top:hover li + li, .menu__top li:first-child:hover + li + li, .menu__top li:first-child:hover + li + li + li, .menu__top li:first-child:hover + li + li + li + li, .menu__top li:first-child:hover + li + li + li + li + li {
		display: block;
		margin: 0px;
		padding: 0px;
	}
	.menu__top li a:hover {
		background: linear-gradient(to bottom, rgba(45,40,50,0.63) 36px, rgb(237,191,255) 36px);
	}
	.menu__top:hover li a {
		border-radius: 0px;
	}
	.menu__top:hover li:first-child a {
		border-radius: 7px 7px 0px 0px;
	}
	.menu__top li:last-child a {
		border-radius: 0px 0px 7px 7px;
		padding-bottom: 14px;
	}
	.menu__top li:first-child a:hover {
		background: linear-gradient(to bottom, rgba(45,40,50,0.63) 41px, rgb(237,191,255) 41px);
	}
	.menu__top li:last-child a:hover {
		background: linear-gradient(to bottom, rgba(45,40,50,0.63) 41px, rgb(237,191,255) 41px);
	}
	.container {
		background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3) 245px, rgba(0,0,0,0) 245px, rgba(0,0,0,0));
	}
	.container:after {
		display: block;
		content: "";
		margin: 100px auto -600px;
		min-height: 600px;
		background: linear-gradient(to bottom, rgb(50,37,57) 1px, rgb(116,80,131) 2px, rgb(116,80,131), rgb(50,37,57) 599px, rgb(25,19,29));
	}
	.nav {
		top: 80px;
	}
	.nav-left {
		left: -20px;
	}
	.nav-right {
		top: 80px;
		right: -20px;
	}
	.content li {
		height: 245px;
		padding: 0 10px 0 20px;
	}
	.description {
		max-width: 51%;
		min-width: 50%;
		height: auto;
	}
	.description h1 {
		font-size: 150%;
	}
	.description h2 {
		color: rgb(240,190,255);
		font-size: 78%;
		text-transform: uppercase;
		letter-spacing: -1px;
	}
	.description span {
		display: none;
	}
	.description-photo {
		max-width: 48%;
		min-width: 48%;
		padding-left: 15px;
	}
	.description-photo img {
		top: -10px;
		right: 0;
		width: 110%;
		height: auto;
	}
	.container-list {
		bottom: -40px;
		right: 50%;
		margin-right: -32px;
	}
	.support-section {
		padding-top: 80px;
		height: 600px;
	}
	.support {
		display: inline-block;
		margin-right: 0;
		margin-bottom: 25px;
		width: 100%;
	}
	.support .block p {
		margin: 0;
		height: auto;
	}
	.forum-section {
		padding-top: 70px;
	}
	.forum {
		margin: 0;
		width: 100%;
		display: inline-block;
	}
	.forum__users:after {
		display: none;
	}
	.forum__users h2, .forum__users a {
		display: inline-block;
		font-size: 1.5em;
	}
	.content-list {
		margin-left: -36px;
		bottom: -45px;
		left: 50%;
	}
	.forum__updates {
		padding-top: 90px;
	}
	.wrapper-bottom {
		width: 430px;
	}
	.footer {
		margin-top: -895px;
		padding-top: 80px;
		height: 895px;
	}
	.filler {
		margin-bottom: 90px;
		padding: 0;
		height: auto;
		overflow: visible;
	}
	.filler .textblock {
		display: block;
		margin-bottom: 60px;
		padding-top: 5px;
		width: 100%;
		height: 135px;
		overflow: hidden;
	}
	.bottom {
		height: 200px;
		background-size: 100% 100%;
	}
	.bottom .media {
		text-align: center;
	}
	.menu__footer {
		width: auto;
	}
	.menu__footer li {
		margin-right: 20px;
		letter-spacing: -1px;
	}
	.menu__footer li:last-child {
		margin-right: 0;
	}/* 45 x space - 856 || 806*/
}
@media all and (min-width: 100px) and (max-width: 480px) {
	.menu li + li, .menu__footer, .description span, .description-photo, .filler {
		display: none;
	}
	.media {
		width: 280px;
	}
	.wrapper {
		padding-bottom: 200px;
	}
	.header {
		padding-bottom: 100px;
		text-align: center;
	}
	.menu__top {
		margin-top: 30px;
		width: 280px;
		text-align: center;
	}
	.menu__top li {
		margin-left: 0;
		width: 50px;
	}
	.container {
		background: transparent;
	}
	.container:after {
		display: block;
		content: "";
		margin: 170px auto -600px;
		min-height: 600px;
		background: linear-gradient(to bottom, rgb(50,37,57) 1px, rgb(116,80,131) 2px, rgb(116,80,131), rgb(50,37,57) 599px, rgb(25,19,29));
	}
	.content li {
		height: auto;
	}
	.description {
		max-width: 100%;
		min-width: 100%;
	}
	.description h2 {
		font-size: 1.1em;
		letter-spacing: -1px;
	}
	.nav {
		top: 0;
	}
	.container-list {
		margin-right: -32px;
		right: 50%;
		bottom: -100px;
	}
	.support-section {
		padding-top: 80px;
		height: 600px;
	}
	.support {
		margin: 0;
		width: 100%;
	}
	.support .block h2 {
		font-size: 1.2em;
	}
	.support .block p {
		height: 70px;
		overflow: hidden;
	}
	.read-more {
		margin: 10px 0 10px;
	}
	.forum-section {
		padding-top: 70px;
	}
	.forum {
		margin: 0;
		width: 100%;
		display: inline-block;
	}
	.forum {
		height: 275px;
	}
	.forum__users:after {
		display: none;
	}
	.forum__users h2, .forum__users a {
		display: inline-block;
		font-size: 1.1em;
	}
	.block__users p {
		height: 160px;
		overflow: hidden;
	}
	.content-list {
		margin-left: -36px;
		bottom: -45px;
		left: 50%;
	}
	.forum__updates {
		padding-top: 90px;
	}
	.block__updates .textblock {
		height: 50px;
		overflow: hidden;
	}
	.block__updates h3 {
	 	height: 28px;
		overflow: hidden;
	}
	.wrapper-bottom {
		width: 280px;
	}
	.footer {
		margin-top: -200px;
		padding-top: 0;
		height: 200px;
	}
	.bottom {
		height: 200px;
		background-size: 100% 100%;
	}
	.bottom .media {
		padding: 40px 0 140px;
		height: 20px;
		text-align: center;
	}
}