.header {
    padding: $header-padding-small;
    background: url($header-picture) bottom no-repeat;
    background-size: cover;
    color: $white;
    overflow: hidden;
}
.credentials, .heading {
    text-align: center;
}
.heading h3, .heading h1 {
    text-transform: uppercase;
}
.heading h3 {
    padding: $title-padding-small;
    font-family: $m-bold;
    font-size: $fontSize-h3;
}
.heading h1 {
    padding: $heading-padding-small;
    line-height: $cred-hr-s;
    font-family: $m-bold;
    font-size: $fontSize-h1;
    letter-spacing: -1px;
}
.heading h4 {
    padding: $promo-padding-small;
    width: $promo-width-small;
    font-family: $r-light;
    font-weight: 100;
    font-size: $fontSize-h4;
}
body .login {
    margin-right: $header-button-margin;
    height: $cred-ht;
}
body .signup {
    border: 2px solid $white;
    padding: $header-button-padding;
    height: $cred-ht;
}
body .btn1 {
    width: 100%;
}
@media #{$medium-min} and #{$large-max} {
    .credentials {
        text-align: right;
    }
    .heading {
        position: relative;
    }
    .heading h3 {
        padding: $title-padding-medium;
        font-size: $fontSize-h3;
        line-height: $search-ht;
        letter-spacing: 2px;
    }
    .heading h1 {
        line-height: $cred-hr-m;
        font-size: $fontSize-h1-m;
        letter-spacing: 0px;
    }
    .heading h4 {
        padding: $promo-padding-medium;
        width: $promo-width-medium;
        font-size: $fontSize-h4-m;
    }
    body .btn1 {
        width: auto;
    }
}
@media #{$medium-only} {
    .header {
        padding: $header-padding-medium;
    }
    .heading h1 {
        padding: $heading-padding-medium;
    }
}
@media #{$large-only} {
    .header {
        padding: $header-padding-large;
    }
    .heading h1 {
        padding: $heading-padding-large;
    }
}
@media only screen and (min-width: 470px) {
    .heading h3 {
        position: absolute;
        top: -$search-ht;
    }
}