.wrapper {
	padding-bottom: $footer-height-small;
}
.media {
	padding: $wrapper-padding-small;
}
.forum_step {
	position: relative;
	margin: $forum-picture-small;
	border-radius: 5px;
	width: $forum-width-small;
	height: $forum-height-small;
	overflow: hidden;
    background-position: center;
    text-align: left;
    @include transition(background-image 0.5s);
}
.step1 {
    background-image: url($forum-picture-1);
}
.step2 {
    background-image: url($forum-picture-2);
}
.step3 {
    background-image: url($forum-picture-3);
}
.forum_bg {
	position: absolute;
	width: $forum-width-small;
	height: $forum-height-small;
	@include linear-gradient-background(top, rgba(255,200,100,0.2), #000);
	opacity: 0.7;
	background-size: cover;
}
.box_bottom {
	position: absolute;
	bottom: 0px;
	padding: $forum-text-small;
	background-size: cover;
}
.nav {
	position: absolute;
	top: 100px;
	display: none;
	color: $lightgray;
	font-family: $r-thin;
	font-size: 75px;
	line-height: 145px;
    transform: matrix(0.8, 0, 0, 2, 0, 0);
}
.prev {
	left: 5px;
}
.next {
	right: 5px;
}
.box_bottom a {
	font-size: 20px;
	padding-top: $forum-text-padding;
	display: block;
	color: $white;
}
.box_bottom a:first-child:hover {
	opacity: 0.9;
}
.box_bottom a:nth-child(2):hover, .box_bottom a:last-child:hover {
	text-decoration: underline;
}
.forum_step h4 span {
    padding: $forum-button;
	line-height: $step-ht;
	text-transform: uppercase;
	font-size: $fontSize-span;
	font-weight: 100;
	letter-spacing: 2px;
}
.forum_step p {
	font-size: $fontSize-p;
    line-height: forum-p-ht;
}
.people {
	text-align: center;
}
.people_partner {
	padding: $partner-padding;
}
.photo {
	position: relative;
	width: $partner-wd-ht;
	height: $partner-wd-ht;
}
.partner_photo, .occupation_icon {
	position: absolute;
	right: 0;
	bottom: 0;
	border: 4px solid $white;
	border-radius: 65px;
	overflow: hidden;
}
.partner_photo {
	width: $partner-wd-ht;
	height: $partner-wd-ht;
}
.photo img {
	display: block;
}
.people h4, .people p {
	font-size: $fontSize-smaller;
}
.people h4 {
	line-height: $partner-ht-h4;
	color: $gray;
}
.people form {
	padding-top: $partner-button;
}
.activity_picture {
	position: relative;
	margin: $activity-padding;
	width: $activity-wd;
	height: $activity-ht;
}
.activity_picture a {
	position: relative;
    display: block;
    width: inherit;
    height: inherit;
    font-size: $fontSize-h3-w;
    text-align: justify;
}
.activity_picture a span:first-child {
	display: block;
    border-radius: 5px;
	height: $activity-ht;
	background: $gray;
	text-align: center;
	overflow: hidden;
}
.activity_picture a span:last-child {
	position: absolute;
	top: $activity-title-1-small;
	padding: 0 15px;
    width: 100%;
    color: $white;
    text-align: center;
    @include transition(all .3s);
}
.activity_picture:hover a span:last-child {
	color: $pink;
	@include transition(all .3s);
}
.picture3 a span:last-child {
	top: $activity-title-2-small;
}
.activity_picture img {
    position: relative;
    top: 0%;
    display: block;
    width: inherit;
    height: auto;
	opacity: 0.7;
}
.picture1 img {
	width: $act-s-w-pic-1;
	top: $act-s-t-pic-1;
    right: $act-s-r-pic-1;
}
.picture2 img {
    width: $act-s-w-pic-2;
    top: $act-s-t-pic-2;
    right: $act-s-r-pic-2;
}
.picture3 img {
	width: $act-s-w-pic-3;
    top: $act-s-t-pic-3;
    right: $act-s-r-pic-3;
}
.picture4 img {
    width: $act-s-w-pic-4;
    top: $act-s-t-pic-4;
    right: $act-s-r-pic-4;
}
.picture5 img {
    width: $act-s-w-pic-5;
    top: $act-s-t-pic-5;
    right: $act-s-r-pic-5;
}
.picture6 img {
    width: $act-s-w-pic-6;
    top: $act-s-t-pic-6;
    right: $act-s-r-pic-6;
}
.picture7 img {
    width: $act-s-w-pic-7;
    top: $act-s-t-pic-7;
    right: $act-s-r-pic-7;
}
.grid-item {
    display: inline-block;
	margin: 0 5px;
}
.grid-item img {
    border-radius: 5px;
}
.search {
	text-align: center;
}
.search h4 {
	text-align: center;
	font-size: 16px;
	font-family: $r-light;
	font-weight: 100;
	line-height: 42px;
}
.search input {
	width: 100%;
	height: $search-ht;
}
.search input[type="text"] {
	border: 1px solid $lightgray;
	border-radius: 5px;
	padding: $search-padding;
}
.search input[type="submit"] {
	margin: $search-margin;
}
@media #{$medium-min} and #{$large-max} {
	.wrapper {
		padding-bottom: $footer-height-medium;
	}
	.media {
		padding: $wrapper-padding-medium;
	}
	.forum_step, .activity_picture {
		min-width: 200px;
	}
	.wrapper h3 {
		padding: $wrapper-heading;
	}
	.nav {
		display: block;
		@include transition(all .5s);
	}
	.nav:hover {
		color: $pink;
		@include transition(all .5s);
	}
	.forum_step {
		display: -webkit-inline-box;
		margin: 8px 0 8px;
		height: $forum-height-medium;
		background-size: cover;
	}
	.forum_bg {
		width: auto;
		min-width: 100%;
		height: $forum-height-medium;
	}
	.people_partner {
		display: inline-table;
		padding: $partner-padding-m;
		width: $partner-max;
	}
	.people div:last-of-type {
		padding-top: 50px;
	}
	.people form {
		padding-top: $partner-button-ml;
	}
	.activity_picture a {
		width: 100%;
	}
	.activity_picture a span:first-child {
		position: relative;
		height: $activity-ht-medium;
	}
	.activity_picture {
		width: $activity-wd-medium;
		height: $activity-ht-medium;
	}
	.picture5, .picture6 {
		width: $activity-wd-medium-spec;
	}
	.activity_picture a span:last-child {
		top: $activity-title-1-medium;
	}
	.picture3 a span:last-child {
		top: $activity-title-2-medium;
	}
	.activity_picture img {
		width: auto;
		height: $activity-ht-medium;
	    top: 0%;
	    right: 0%;
	}
	.picture1 img {
		height: $act-m-w-pic-1;
		top: $act-m-t-pic-1;
	    right: $act-m-r-pic-1;
	}
	.picture2 img {
		height: $act-m-w-pic-2;
		top: $act-m-t-pic-2;
		right: $act-m-r-pic-2;
	}
	.picture3 img {
		height: $act-m-w-pic-3;
		top: $act-m-t-pic-3;
		right: $act-m-r-pic-3;
	}
	.picture4 img {
		height: $act-m-w-pic-4;
		top: $act-m-t-pic-4;
		right: $act-m-r-pic-4;
	}
	.picture5 img {
		height: $act-m-w-pic-5;
		top: $act-m-t-pic-5;
		right: $act-m-r-pic-5;
	}
	.picture6 img {
		height: $act-m-w-pic-6;
		top: $act-m-t-pic-6;
		right: $act-m-r-pic-6;
	}
	.picture7 img {
		height: $act-m-w-pic-7;
		top: $act-m-t-pic-7;
		right: $act-m-r-pic-7;
	}
	.search h4 {
		padding-bottom: 30px;
	}
	.search input[type="text"] {
		width: 235px;
		
	}
	.search input[type="submit"] {
		width: 160px;
		margin: 0 0 100px 5px;
	}
}
@media #{$medium-only} {
	.forum_step {
		width: $forum-width-medium;
	}
	.picture2 a span:last-child {
		top: $activity-title-2-medium;
	}
}
@media #{$large-only} {
	.forum, .activity {
		max-width: 940px;
	}
	.forum_step {
		width: $forum-width-large;
	}
	.people_partner {
		padding: $partner-padding-l;
		width: $partner-max-large;
	}
	.people p {
		font-size: $fontSize-smallest;
	}
	.picture1 img {
		height: $act-l-w-pic-1;
		top: $act-l-t-pic-1;
	    right: $act-l-r-pic-1;
	}
	.picture2 img {
		height: $act-l-w-pic-2;
		top: $act-l-t-pic-2;
		right: $act-l-r-pic-2;
	}
	.picture3 img {
		height: $act-l-w-pic-3;
		top: $act-l-t-pic-3;
		right: $act-l-r-pic-3;
	}
	.picture4 img {
		height: $act-l-w-pic-4;
		top: $act-l-t-pic-4;
		right: $act-l-r-pic-4;
	}
	.picture5 img {
		height: $act-l-w-pic-5;
		top: $act-l-t-pic-5;
		right: $act-l-r-pic-5;
	}
	.picture6 img {
		height: $act-l-w-pic-6;
		top: $act-l-t-pic-6;
		right: $act-l-r-pic-6;
	}
	.picture7 img {
		height: $act-l-w-pic-7;
		top: $act-l-t-pic-7;
		right: $act-l-r-pic-7;
	}
}
@media only screen and (min-width: 926px) {
	.people div:last-of-type {
		padding-top: 0;
	}
}