* {
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html, body {
	height: 100%;
}

body {
	font-family: arial;
	color: black;
}

img {
	display: block;
}

a, input[type="submit"] {
	cursor: pointer;
}

div {
	box-sizing: border-box;
}

.wrapper {
	max-width: 912px;
	min-height: 100%;
	padding-bottom: 100px;
}

.contact {
	margin: 0 8px 10px;
	padding: 20px 0 0 25px;
	background: url('../img/phone-icon.jpg') no-repeat;
	background-position: bottom left;
	background-size: 22px 21px;
}

.contact > a {
	vertical-align: middle;
}

.contact > a > span {
	vertical-align: middle;
	color: rgb(135,140,145);
	font-size: 18px;
	letter-spacing: 0;
}

.contact div, .contact form, .cart ul, .cart p, .cart ul li, .footer ul {
	display: inline-block;
}

.login {
	vertical-align: middle;
	margin-left: 10px;
	border-radius: 4px;
	padding: 3px;
	background: linear-gradient(to bottom, rgb(31,103,135),rgb(12,51,87));
}

.login form {
	background: url('../img/login-icon.jpg') no-repeat;
	background-position: left;	
	padding-left: 20px;
}

.login input[type="text"] {
	vertical-align: text-bottom;
	margin: 0 1px;
	border: 1px solid rgb(50,150,180);
	border-radius: 2px;
	padding: 0 0 2px 5px;
	width: 108px;
	font-size: 11px;
	letter-spacing: 0;
}

.login span {
	color: rgb(255,255,255);
}

.login .registration {
	padding: 0 6px 0;
	border-left: 1px solid rgb(255,255,255);
}

.login  input[type="submit"]:last-child {
	margin-left: 21px;
	color: rgb(145,150,155);
	text-decoration: underline;
}

input[type=submit] {
	vertical-align: text-bottom;
    height: 16px;
	border: 0px;
	padding: 0 2px 0 1px;
	background: transparent;
	font-size: 11px;
	color: white;
	letter-spacing: 0;
}

.contact-icons {
	vertical-align: bottom;
	position: relative;
	top: -4px;
	margin: 0 5px 0 13px;
	border: 1px solid rgb(190,195,200);
	border-radius: 10px;
	padding: 0 8px;
	width: auto;
}

.contact-icons img {
	display: inline;
	margin-right: 3px;
}

.cart {
	text-align: right;
	margin-top: 4px;
	border: 1px solid rgb(10,18,53);
	border-radius: 5px;
	background: linear-gradient(to bottom, rgb(72,81,96), rgb(45,50,54) 5px, rgb(1,1,1));
}

.cart li {
	margin: 3px 0 3px -4px;
	border-radius: 13px;
	padding: 5px 16px;
	font-size: 14px;
	letter-spacing: 0;
	cursor: pointer;
}

.cart li:hover {
	background: linear-gradient(to bottom, rgb(30,100,130), rgb(10,50,90));
}

.cart a {
	text-transform: uppercase;
	color: rgb(205,205,205);
}

.cart li:last-child {
	margin-left: 50px;
	background: url(../img/cart-icon.jpg) no-repeat;
}

.cart li:last-child a {
	text-transform: none;
	font-size: 11px;
	letter-spacing: 0;
	color: rgb(255,255,255);
}

.goods, .costs {
	position: relative;
	top: -1px;
	padding: 0 5px 0 15px;
	font-size: 11px;
	color: rgb(255,255,255);
}

.goods + span, .costs + span {
	font-size: 12px;
	color: rgb(15,90,145);
}

.search {
	font-size: 0;
}

.search form {
	box-sizing: border-box;
	margin: 12px 4px 15px;
	margin: 12px 0.47% 15px;
	display: inline-block;
	height: 132px;
	border: 1px solid rgb(180,180,180);
	border-radius: 20px;
	background: rgb(255,255,255);
}

.search1 {
	width: 46.01%;
}

.search2 {
	width: 21.46%;
}

.search3 {
	width: 29.64%;
}

.aside {
	width: 183px;
}

.aside p {
	border: 1px solid rgb(145,150,155);
	border-radius: 13px;
	padding: 5px 0 5px 28px;
	font-size: 12px;
	color: rgb(25,70,100);
	font-weight: bolder;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.aside>p {
	margin-bottom: 14px;
	width: 153px;
	background: url(../img/list-icon.jpg) no-repeat;
}

.aside ul p, .aside form p {
	background: url(../img/round-icon.jpg) no-repeat;
}

.left-menu {
	float: left;
	margin-right: 7px;
}

.left-menu>p {
	background-position: 2px;
}

.left-menu ul {
	margin-left: 2px;	
}

.left-menu ul p {
	width: 120px;
	margin-left: 0;
	background-position: 2px;
}

.left-menu li {
	margin: 0 0 6px 35px;
	padding-left: 11px;
	background: url(../img/round-icon.jpg) no-repeat;
	background-size: 6px;
	background-position: left;
}

.left-menu a {
	font-size: 12px;
	letter-spacing: 0;
	color: rgb(55,50,75);
}

.left-menu a:hover {
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1px;
	text-decoration: underline;
	color: rgb(25,70,100);
}

.right-menu {
	float: right;
	margin-left: 7px;
}

.right-menu>p {
	background-position: 3px;
}

.right-menu form {
	margin: 15px;
}

.right-menu form p {
	margin-bottom: 8px;
	width: 134px;
	background-position: 3px;
}

.right-menu label {
	margin: 2px 0 10px 0;
	display: block;
	font-size: 12px;
	color: rgb(55,50,75);
	cursor: pointer;
}

.right-menu input {
	position: relative;
	top: 3px;
	margin: 0 15px 0 10px;
	height: 10px;
	border-color: rgb(30,100,130);
	cursor: pointer;
}

.right-menu button {
	margin: 10px 10px;
	border: 0;
	border-radius: 15px;
	height: 26px;
	width: 82px;
	background: linear-gradient(to bottom, rgb(30,100,130), rgb(10,50,90));
	text-transform: uppercase;
	color: rgb(255,255,255);
	font-size: 11px;
	cursor: pointer;
}

.content {
	float: left;
	margin-bottom: 27px;
	padding: 0 9px 0;
	width: 526px;
	background: linear-gradient(to bottom, rgb(230,230,230), rgb(145,165,175));
}

.item {
	width: auto;
	display: inline-block;
	margin: 13px;
	text-align: center;
}
.item span {
	font-size: 14px;
	display: block;
	font-weight: bolder;
}

.name {
	font-size: 16px;
	color: rgb(50,125,175);
}

.name__blue {
	color: rgb(80,85,100);
}

.tyre {
	width: 138px;
	height: 128px;
	border: 1px solid rgb(175,180,190);
	border-radius: 5px;
	background: rgb(255,255,255);
}

.tyre img {
	margin-top: 6px;
	display: inline;
	line-height: 100%;
}

.price {
	font-size: 17px;
	font-weight: bold;
	font-style: italic;
	color: rgb(50,60,120);	
}

.bottom {
	clear: left;
	box-sizing: border-box;
	margin: 0 auto 13px;
	padding: 0 8px 0;
	width: 700px;
	height: 50px;
}

.bottom li {
	display: inline-block;
	margin: 0 -3px -4px;
}

.bottom a {
	display: block;
	width: 100%;
	height: 50px;
}

.footer {
	margin-top: -100px;
	border: 1px solid rgb(35,45,65);
	border-radius: 2px 2px 0 0;
	height: 100px;
	background: rgb(30,60,80);
	text-align: center;
}

.footer ul {
	width: 400px;
	margin: 15px auto 10px;
	text-align: center;
}

.footer li {
	display: inline-block;
	height: 12px;
	padding: 0 8px;
	border-right: 1px solid rgb(255,255,255);
}

.footer li:last-child {
	border-right: 0;
}

.footer a {
	position: relative;
	top: -5px;
	color: rgb(255,255,255);
	font-size: 12px;
}

.footer a:hover {
	color: rgb(80,170,200);
}

.footer span {
	display: block;
	font-size: 10px;
	color: rgb(125,70,65);
}

.shadow {
	box-shadow: 2px 4px 4px 0 rgb(190,190,190);
}