* {
	margin: 0px auto;
	padding: 0px;
	font-family: arial;
	text-decoration: none;
	color: black;
	list-style: none;
}

html, body {
	height: 100%;
}

img {
	position: relative;
	top: 0px;
	display: block;
}

a {
	cursor: pointer;
}

div {
	box-sizing: border-box;
	width: 100%;
}

.wrapper {
	min-height: 100%;
	padding-bottom: 100px;
	width: 912px;
}

.contact {
	margin: 0px 8px 4px;
	padding-left: 25px;
	background: url('../img/phone-icon.jpg') no-repeat;
	background-position: 0px 21px;
	background-size: 22px 21px;
}

.contact > a > span {
	color: rgb(135,140,145);
	font-size: 18px;
	letter-spacing: 0.5pt;
}

.contact div, .contact form, .cart ul, .cart p, .cart ul li, .footer ul {
	display: inline-block;
}

.login {
	position: relative;
	top: -3px;
	margin: 20px 0px 0px 12px;
	border-radius: 4px;
	padding: 3px;
	width: auto;
	background: linear-gradient(to bottom, rgb(31,103,135),rgb(12,51,87));
}

.login form {
	background: url('../img/login-icon.jpg') no-repeat;
	background-position: left;	
	padding-left: 20px;
}

.login input {
	position: relative;
	top: -3px;
	margin: 0px 1px;
	border: 1px solid rgb(50,150,180);
	border-radius: 2px;
	padding: 0px 0px 2px 5px;
	width: 108px;
	font-size: 11px;
	letter-spacing: 0.5pt;
}

.login span {
	position: relative;
	color: rgb(255,255,255);
	top: -2px;
	padding: 0px 2px 0px 1px;
	font-size: 11px;
	letter-spacing: 0.5pt;
}

.login .registration {
	padding: 0px 6px 0px 6px;
	border-left: 1px solid rgb(255,255,255);
}

.login a:last-child span {
	margin-left: 21px;
	color: rgb(145,150,155);
	text-decoration: underline;
}

.contact-icons {
	position: relative;
	top: -4px;
	margin: 0px 5px 0px 13px;
	border: 1px solid rgb(190,195,200);
	border-radius: 10px;
	padding: 0px 8px;
	width: auto;
}

.contact-icons img {
	display: inline;
	margin-right: 3px;
}

.cart {
	text-align: right;
	margin-top: 4px;
	border: 1px solid rgb(10,18,53);
	border-radius: 5px;
	background: linear-gradient(to bottom, rgb(72,81,96), rgb(45,50,54) 5px, rgb(1,1,1));
}

.cart li {
	margin: 3px 0px 3px -4px;
	border-radius: 13px;
	padding: 5px 16px;
	font-size: 14px;
	letter-spacing: -0.2pt;
	cursor: pointer;
}

.cart li:hover {
	background: linear-gradient(to bottom, rgb(30,100,130), rgb(10,50,90));
}

.cart a {
	text-transform: uppercase;
	color: rgb(205,205,205);
}

.cart li:last-child {
	margin-left: 50px;
	background: url(../img/cart-icon.jpg) no-repeat;
}

.cart li:last-child a {
	text-transform: none;
	font-size: 11px;
	letter-spacing: 0.3pt;
	color: rgb(255,255,255);
}

.goods, .costs {
	position: relative;
	top: -1px;
	padding: 0px 5px 0px 15px;
	font-size: 11px;
	color: rgb(255,255,255);
}

.goods + span, .costs + span {
	font-size: 12px;
	color: rgb(15,90,145);
}

.search {
	font-size: 0px;
}

.search form {
	box-sizing: border-box;
	margin: 12px 4px 15px;
	margin: 12px 0.47% 15px;
	display: inline-block;
	height: 132px;
	border: 1px solid rgb(180,180,180);
	border-radius: 20px;
	background: rgb(255,255,255);
}

.s1 {
	width: 416px;
	width: 46.01%;
}

.s2 {
	width: 194px;
	width: 21.46%;
}

.s3 {
	width: 268px;
	width: 29.64%;
}

.aside {
	width: 183px;
}

.aside p {
	border: 1px solid rgb(145,150,155);
	border-radius: 13px;
	padding: 5px 0px 5px 28px;
	font-size: 12px;
	color: rgb(25,70,100);
	font-weight: bolder;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.aside>p {
	margin-bottom: 14px;
	width: 153px;
	background: url(../img/list-icon.jpg) no-repeat;
}

.aside ul p, .aside form p {
	background: url(../img/round-icon.jpg) no-repeat;
}

.left-menu {
	float: left;
	margin-right: 7px;
}

.left-menu>p {
	background-position: 2px;
}

.left-menu ul {
	margin-left: 2px;	
}

.left-menu ul p {
	width: 120px;
	margin-left: 0px;
	background-position: 2px;
}

.left-menu li {
	margin: 0px 0px 6px 35px;
	padding-left: 11px;
	background: url(../img/round-icon.jpg) no-repeat;
	background-size: 6px;
	background-position: left;
}

.left-menu a {
	font-size: 9pt;
	letter-spacing: 0.5pt;
	color: rgb(55,50,75);
}

.left-menu a:hover {
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1px;
	text-decoration: underline;
	color: rgb(25,70,100);
}

.right-menu {
	float: right;
	margin-left: 7px;
}

.right-menu>p {
	background-position: 3px;
}

.right-menu form {
	margin: 15px;
}

.right-menu form p {
	margin-bottom: 8px;
	width: 134px;
	background-position: 3px;
}

.right-menu label {
	margin: 2px 0px 10px 0px;
	display: block;
	font-size: 9pt;
	color: rgb(55,50,75);
	cursor: pointer;
}

.right-menu input {
	position: relative;
	top: 3px;
	margin: 0px 15px 0px 10px;
	height: 10px;
	border-color: rgb(30,100,130);
	cursor: pointer;
}

.right-menu button {
	margin: 10px 10px;
	border: 0px;
	border-radius: 15px;
	height: 26px;
	width: 82px;
	background: linear-gradient(to bottom, rgb(30,100,130), rgb(10,50,90));
	text-transform: uppercase;
	color: rgb(255,255,255);
	font-size: 11px;
	cursor: pointer;
}

.content {
	float: left;
	margin-bottom: 27px;
	width: 526px;
	background: linear-gradient(to bottom, rgb(230,230,230), rgb(145,165,175));
}

.content div {
	width: auto;
	display: inline-block;
	margin: 13px 0px 12px 26px;
	text-align: center;
}
.content span {
	display: block;
	font-weight: bolder;
	font-size: 14px;
}

.content span:nth-child(1) {
	font-size: 16px;
	color: rgb(25,70,100);
}

.content span:nth-child(3) {
	width: 138px;
	height: 128px;
	border: 1px solid rgb(175,180,190);
	border-radius: 5px;
	background: rgb(255,255,255);
}

.content img {
	margin-top: 6px;
	display: inline;
	line-height: 100%;
}

.price {
	font-size: 17px;
	font-weight: bold;
	font-style: italic;
	color: rgb(25,70,100);	
}

.bottom {
	clear: left;
	box-sizing: border-box;
	margin: 0px auto 13px;
	padding: 0px 8px 0px;
	width: 700px;
	height: 50px;
	background: url('../img/footer.jpg') no-repeat;
}

.bottom li {
	display: inline-block;
	margin: 0px 3px -4px;
}

.bottom li:nth-child(1) {
	width: 85px;
}

.bottom li:nth-child(2) {
	width: 100px;
}

.bottom li:nth-child(3) {
	width: 80px;
}

.bottom li:nth-child(4) {
	width: 63px;
}

.bottom li:nth-child(5) {
	width: 77px;
}

.bottom li:nth-child(6) {
	width: 61px;
}

.bottom li:nth-child(7) {
	width: 65px;
}

.bottom li:nth-child(8) {
	width: 75px;
}

.bottom a {
	display: block;
	width: 100%;
	height: 50px;
}

.footer {
	margin-top: -100px;
	border: 1px solid rgb(35,45,65);
	border-radius: 2px 2px 0px 0px;
	width: 908px;
	height: 100px;
	background: rgb(30,60,80);
	text-align: center;
}

.footer ul {
	width: 400px;
	margin: 15px auto 10px;
	text-align: center;
}

.footer li {
	display: inline-block;
	height: 12px;
	padding: 0px 8px;
	border-right: 1px solid rgb(255,255,255);
}

.footer li:last-child {
	border-right: 0px;
}

.footer a {
	position: relative;
	top: -5px;
	color: rgb(255,255,255);
	font-size: 12px;
}

.footer a:hover {
	color: rgb(80,170,200);
}

.footer span {
	display: block;
	font-size: 10px;
	color: rgb(125,70,65);
}

.shadow {
	box-shadow: 2px 4px 4px 0px rgb(190,190,190);
}