* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, tahoma, sans-serif;
	color: rgb(255,255,255);
	text-decoration: none;

}

body, html {
	height: 100%;
}

body {
	background: url("../img/background.jpg") repeat-y;
	background-position: center;
	background-size: cover;
}

@font-face: {
	font-family: Helvetica;
	src: url("../fonts/HelveticaNeue.ttf");
}

@font-face: {
	font-family: tahoma;
	src: url("../fonts/tahoma.ttf");
}

ul {
	list-style: none;
}

li {
	padding: 12px 0px;
}

a {
	padding: 15px 5px;
}

.header p {
	padding: 11px 5px 11px;
	background: linear-gradient(to bottom, rgba(80,180,220,0.9), rgb(65,150,210), rgba(50,120,200,0.9));
}

.header p a {
	text-decoration: underline;
}

.header {
	padding: 0px 5px 11px;
	height: 30px;
	width: 100%;
	min-width: 850px;
	width: auto;
	background-image: url("../img/headline.jpg");
	background-repeat: repeat;
}

.header li, .header ul, .header p {
	display: inline-block;
}

 .header p, .header ul {
	float: right;
}

.header li:last-child {
	background: url(../img/banner.jpg) no-repeat;
	background-position: left;
	padding-left: 25px;
	border-left: 1px solid white;
}

.header li a:hover {
	background: rgb(65,150,210);
	padding: 12px 5px 11px 5px;
}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 600px;
	margin: -300px 0px 0px -250px;
}

.reg, form {
	padding: 20px 100px;
	background-color: rgba(0,0,0,0.63);
}

form {
	height: 82%;
}

.text, .fb, .reg, .submit {
	text-align: center;
}

.reg {
	height: 4%;
	margin-bottom: 1%;
}

.fb {
	color: rgb(255,255,255);
	display: block;
	margin-left: 40px;
	border: 0px;
	border-top: 1px solid rgb(255,255,255);
	border-left: 1px solid rgb(150,150,150);
	border-radius: 0px 5px 5px 0px;
	width: 260px;
	height: 33px;
	background: transparent;

}

.fb-line {
	margin: 0px 0px 15px;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgba(65,90,150,1), rgba(50,65,115,1));

}

.fb-line:before {
	border-top: 1px solid rgb(255,255,255);
	border-right: 1px solid rgb(10,10,100);
	border-radius: 5px 0px 0px 5px;
	padding: 6px 15px 6px;
	width: 9px;
	height: 20px;
	position: absolute;
	content: url(../img/facebook.jpg);
}

.line {
	background: rgb(0,0,0);
	display: block;
	margin: 20px 0px;
	padding: 5px 10px;
	width: 276px;
	line-height: 20px;
	border-color: transparent;
}

.line:focus {
	background: rgba(65,90,150,1);
	box-shadow: 0px 0px 10px 3px rgb(65,150,210);

}

.policy {
	text-align: center;
	width: auto;
	font-size: 10px;
}

label {
	font-size: 13px;
}

.submit {
	display: block;
	margin: 15px auto;
	border: 0px;
	padding: 1px;
	border: 1px solid rgba(50,120,200,0.8);
	height: 34px;
	background: linear-gradient(to bottom, rgba(80,180,220,0.9), rgb(65,150,210), rgba(50,120,200,0.9));
}

.dash {
	display: inline-block;
	width: 40%;
	height: 10px;
	content: '';
	background: url(../img/dash.jpg) repeat-x;
	background-position: center;
}

.text {
	display: inline-block;
	width: 20%;
}

/*.text {
	display: inline-block;
	clear: left;
}

.text:before {
	display: block;
	position: relative;
	padding-right: 116px;
	height: 2px;
	left: 100px;
	top: 135px;

}

.text:after {
	position: relative;
	display: block;
	padding-left: 116px;
	height: 2px;
	right: 100px;
	top: 135px;
	display: inline;
	content: '';
	background: url(../img/dash.jpg) repeat-x;
	background-position: center;
}*/